*{
  box-sizing: border-box;
}
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Lato', sans-serif; */
}
p {
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.7px;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;

}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
.container{
  width: 80%;
  margin: auto;
}
.header img {
    border-radius: 50%;
    width: 200px;
}
.home {
    text-align: center;
    padding: 10%;
    background: #607D8B;
    letter-spacing: 2px;
    min-height: 100vh;
}
.header {
    max-width: 786px;
	margin:auto;
}
.header h1 {
    margin: 25px 0px;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
}
.icons img {
    border-radius: 0;
    width: 35px;
    height: 35px;
    margin: 10px;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
}
.icons a {
    border: 1px solid #c9c0c0;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 10px;
}
.icons a:hover{
  border-color: #fff;
}
.objective {
    margin-bottom: 30px;
    letter-spacing: 1px;
font-size: 16px;
line-height: 35px;
color: rgba(255,255,255,0.561);
font-weight: 100;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: crimson;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 4px;
    margin-bottom: 40px;
    font-size: 17px;
}
.btn:hover {
    background: #114b5f;
}
/* responsive */
@media screen and (max-width:567px) {

.home {
    padding: 20px;
  }
  .container {
    width: 100%;
    margin: auto;
}
}
/* header */
header {
    height: 60px;
    background: #075073ab;
    color: #fff;
    display: block;
    position: fixed;
    width: 100%;
    text-transform: capitalize;
}
.logo {
    display: inline-block;
    float: left;
    padding: 20px;
}
.head-menu {
  display: inline-block;
    float: right;
    padding: 20px;
        width: 250px;
}
header a {
      margin-left: 5%;
    color: #fff;
font-size: 16px;
font-weight: 400;
letter-spacing: 1px;
}
.clearfix{
  clear: both;
}
